 <!--footer Section-->
<footer>
 <section class="footer">
    <div class="box-container">
        <div class="box">
        <h4> My Personal Website</h4>
        <p> Thank you for visiting my website. You can connect or contact me on my social media links. 
                Major projects coming soon!!!
         </p>
    </div>

     <div class="box">
            <h3>quick links</h3>
            <a href="/home"><i class="fas fa-chevron-circle-right"></i> home</a>
            <a href="/about"><i class="fas fa-chevron-circle-right"></i> about</a>
            <a href="/projects"><i class="fas fa-chevron-circle-right"></i> projects</a>
            <a href="/services"><i class="fas fa-chevron-circle-right"></i> services</a>
            <a href="/contact"><i class="fas fa-chevron-circle-right"></i> contact</a>
    </div>

    <div class="box">
        <h3>contact me via</h3>
        <p> <i class="fas fa-phone"></i>647-210-3047</p>
        <p> <i class="fas fa-envelope"></i>sheraaz30@gmail.com</p>
        <p> <i class="fas fa-map-marked-alt"></i>Sheraaz Khan, Ontario, Canada</p>
        <div class="share">

        <a href="https://github.com/SheraazKhan" class="fa-brands fa-github-square" target="_blank"></a>
        <a href="mailto:sheraaz30@gmail.com" class="fa-solid fa-envelope-open-text" target="_blank"></a>
        <a href="https://www.facebook.com/sheraaz.khan.10236" class="fa-brands fa-facebook-f"></a>
        
        </div>
    </div>

     </div>
 </section>

  <p class="text-center text-muted">&copy; Copyright 2020 Sheraaz Khan Comp 229 </p>
</footer>