<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>


  <!-- about section -->
<section class="about" id="about">
    <h2 class="heading"> About Me</h2>

    <div class="row">

        <div class="image">
            <img src="/images/about.jpeg" alt="a picture of sheraaz khan">
        </div>
        <div class="content">
            <h3>Hello. I am Sheraaz Khan</h3>
            <span class="tag">Eager to learn and gain experience.</span>
            <p>Currently pursuing my second career in Software Engineering Technology.
            I like to think that I am a good student, most importantly I know I am a hard worker.
            My hobbies include playing video games like Destiny 2 or World of Warcraft and other console games.
            In the summer time I enjoy hiking and kayaking and in winter snowboarding. 
            I was born in the Caribbean but grew up in Ontario, Canada.</p>

            <div class="box-container">
                <div class="box">
                   
                </div>
                <div class="box">
                    <p><span> email : </span> sheraaz30@gmail.com</p>
                   
                </div>
            </div>
            <!-- Resume Download Button -->
            <div class="resumebtn">
                <a href="images/educat/Anunay_Resume.pdf" class="btn"><span>Download Resume</span>
                     <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- about section ends -->

  <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>


</body>

</html>
