<!-- File Name: Assignment 1 COMP229
   Student Name: Sheraaz Khan
   StudentId:301166725
   Date: 6/3/2022-->

<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>

<!--Main Section-->

  
<!--Info card-->
 <div class="card">
  <img src="/images/about.jpeg" style="width:100%" alt="profile picture">
  <h2> <span>Name: Sheraaz Khan</span><br></h2>
  <h3>  <span>Student Number: 3001166725 </span> <br>   </h3>
  <p class="title">Physio and Massage Therapist</p>
  <p> Works at CAMH</p>
  <p>Attending Centennial College</p>
  <div style="margin: 24px 0;">
  </div>
  <p>  
	
  </p>
 
</div>
  <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>


</body>

</html>




