<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>

<!-- work project section starts
/images/bug smasher game.png
  -->
<section class="work" id="work">

    <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

    <div class="box-container">
        
        <div class="box tilt">
            <img src="/images/bug smasher game.png" alt="project bug smasher game" />
                     <div class="content">
                <div class="tag">
                    <h3> </h3>
                </div>
                <div class="desc">
                    <p></p>
                    <div class="btns">
                        <a href="http://studentweb.cencol.ca/skhan495/game.html" class="btn"><i class="fa-solid fa-circle-play"></i>
                            Play Now</a>
                    </div>
                </div>
            </div>
        </div> 
        

    </div>

    <div class="viewall">
        <a href="/project" class="btn"><span>View All</span>
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</section>
<!-- work project section ends -->








  <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>


</body>

</html>

