<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>



<!-- services section starts -->
<section class="services" id="services">

    <h2 class="heading"> Services <i class="fas fa-laptop-code"></i> </h2>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="bar">
                    <div class="info">
                        <span>Web app development</span></i>
                    </div>
                  
                </div>

                <div class="bar">
                    <div class="info">
                        <span>Software development consulting</span></i>
                    </div>
                   
                </div>

            <div class="bar">
                    <div class="info">
                      <span>Mobile app development</span></i>
                    </div>
                   
                </div>

              <div class="bar">
                    <div class="info">
                     <span>Product design</span></i>
                    </div>
                   
                </div>
           
                </div>
            </div>
        </div>
    </div>
</section>


 <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>