<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>


<!-- skills section starts -->
<section class="skills" id="skills">

    <h2 class="heading"><i class="fa-solid fa-computer-speaker"></i> Services</h2>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="bar">
                    <div class="info">
                       
                            <span>Web app development</span></i>
                        
                    </div>
                  
                </div>

                <div class="bar">
                    <div class="info">
                       
                            <span>Software development consulting</span></i>
                       
                    </div>
                   
                </div>

               
                
                

             
            <div class="bar">
                    <div class="info">
                       
                            <span>Mobile app development</span></i>
                       
                    </div>
                   
                </div>

              <div class="bar">
                    <div class="info">
                       
                            <span>Product design</span></i>
                       
                    </div>
                   
                </div>

              
                </div>

            </div>
        </div>
    </div>
</section>
<!-- skills section ends -->

 <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>