<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>
<body>
<!-- work project section -->
<div class="wrapper">
<div class="row">
  <div class="column">
    <img src="/images/bug smasher game.png" alt="bug smash game" style="width:85%; height:75%">
	<div class="bottom-left"> <a href="http://studentweb.cencol.ca/skhan495/game.html" class="btn"><i class="fa-solid fa-circle-play"></i>
                            Play Now</a> </div>
  </div>
  <div class="column">
    <img src="/images/weather_app.png" alt="weather app" style="width:90%">
	<div class="bottom-left"> <a href="http://studentweb.cencol.ca/skhan495/assignment6.html" class="btn"><i class="fa-solid fa-eye"></i>
  
                            Take a look</a></div>
  </div>
  <div class="column">
    <img src="/images/draw_table.png" alt="table drawing" style="width:98%">
	<div class="bottom-left"> <a href="http://studentweb.cencol.ca/skhan495/A2.html" class="btn"><i class="fa-solid fa-pen"></i>
                            Draw</a></div>
  </div>
</div>
</div>


  <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>
